main {
  margin: 0 var(--grid-margin-horizontal);
  display: grid;
  gap: var(--grid-gap);
}
.feature-section {
  display: grid;
  gap: var(--grid-gap);
  flex-wrap: wrap;
  width: 100%;
}
.feature-section__excerpt {
  margin-bottom: var(--text-spacing);
  color: var(--dark-grayish-blue);
}
.feature-section__image {
  width: 100%;
}

.feature-section__button {
  flex-basis: 30vw;
  flex-grow: 0;
  padding: calc(var(--grid-margin-vertical) / 2);
  background-color: var(--soft-red);
  color: var(--off-white);
  font-size: 1.8rem;
  border: none;
}
.feature-section__button:hover {
  background-color: var(--very-dark-blue);
}
@media screen and (min-width: 1080px) {
  .feature-section {
    grid-column: span 2;
  }
  .popular-section {
    grid-column: span 3;
  }
  main {
    column-gap: var(--grid-margin-vertical);
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1440px) {
  .feature-section {
    display: flex;
    /* grid-column: span 2; */
    grid-column: span 2;
  }

  .feature-section__h1,
  .feature-section__aside {
    flex-grow: 1;
    flex-basis: calc(50% - var(--grid-margin-vertical));
  }
}

/* New Article Section */
.new-section__h2 {
  color: var(--soft-orange);
}
.new-section__h2,
.new-section__p {
  margin-bottom: var(--grid-gap);
}
.new-section__h3 {
  margin-bottom: calc(0.5 * var--grid-gap);
}
.new-section {
  background-color: var(--very-dark-blue);
  color: var(--off-white);
  padding: var(--grid-gap);
}
.new-section__items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.new-section__item {
  padding-bottom: calc(0.5 * var(--grid-gap));
  margin-bottom: var(--grid-gap);
  border-bottom: 1px solid var(--off-white);
  cursor: pointer;
}
.new-section__p {
  color: var(--grayish-blue);
}
.new-section__item:hover .new-section__h3 {
  color: var(--soft-orange);
}
/* Popular Section */
.popular-section {
  padding-bottom: var(--grid-margin-vertical);
}
.popular-section__items {
  cursor: pointer;
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.popular-section__items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.popular-section__item {
  display: grid;
  gap: calc(var(--grid-gap) * 0.5);
  grid-template-columns: 100px 1fr;
}
.popular-section__image {
  grid-row: span 3;
  width: 100%;
}
.popular-section__h2 {
  color: var(--grayish-blue);
}
.popular-section__p,
.popular-section__h3,
.popular-section__h2 {
  grid-row: span 1;
  grid-column: 2;
}
ul {
  list-style: none;
}
@media screen and (max-width: 348px) {
  .popular-section__item {
    gap: 3px;
  }
  .popular-section__h2 {
    font-size: 1.3rem;
  }
  .popular-section__h3 {
    font-size: 1.1rem;
  }
  .popular-section__p {
    font-size: 0.9rem;
  }
}
