body {
  font-family: "Inter", sans-serif;
  background-color: var(--off-white);
  line-height: 1.4;
}
h1 {
  color: var(--very-dark-blue);
  font-size: 2.8rem;
  line-height: 1.2;
  margin: 0;
}
:root {
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
  --off-white: hsl(36, 100%, 99%);
  --translucent: rgba(0, 0, 0, 0.413);
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --text-spacing: 16px;
  --grid-gap: 16px;
}
